body {
		background-image: url("../img/background.jpg");
		background-repeat: no-repeat;
		background-position: right center;
		background-size: cover;
		background-color: #727272;
		color: teal;
		font-family: arial; 
}

h1 {
	font-weight: bold;
}
.main {
		margin: auto;
}

#fact-btn {
		margin: 30px auto;
		height: 5em;
		background: teal;
		color: white;
}

.data {
		margin: 1em 0;
		font-weight: bold;
		font-size: 25px;
		font-style: italic;
}

#fact-display {
	width: 650px;

}